.custom-about{
    width: 100%;
    justify-content: center;  
    color: rgb(149, 146, 143);
  
}
.accordion-button{
    color: rgb(63, 63, 63);
    font-weight: 600;
}
.accordian{
    background-color: rgb(136, 131, 124);
    color: white;
}




